@import url(../css/bootstrap.min.css);
@import url(../css/normalize.css);
@font-face {
  font-family: "Museo sans";
  src: url(../fonts/MuseoSansCyrl.otf);
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Museo sans bold";
  src: url(../fonts/MuseoSansCyrl_3.otf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal; }
